<h2> Please type your Username and Password below:</h2>

<%=form_with(url: login_path) do |f|%> 
  <%= f.label :username %> 
  <%= f.text_field :username %> 
  <%= f.label :password %> 
  <%= f.password_field :password %> 
  <%= f.submit "Login" %>  
    
<% end %>   

<div class="third-party-login"> 
  <%= button_to "Log in with Google", '/auth/google_oauth2'  %> 
</div>  

<div class="link-to-signup"> 
  <%= button_to "Don't have an account? Click here", '/signup'  %> 
</div>  
