<h1> Welcome! Let's get cooking </h1>  

<%= form_with(url: recipes_path, method: :get) do |f| %> 
    <%= f.label :search, "Search recipe by name" %> 
    <%= f.text_field :search %>  
    <%= f.submit "Submit" %> 


<% end %>

<%= recipe_index %>
