<h1> <%= @recipe.name %> </h1> 


<h4> Serving size:<%= @recipe.servings %> </h4> 
<h4> Cooking time:<%= @recipe.time %> </h4> 
<h4> Level of Difficulty:<%= @recipe.difficulty_level %> </h4> 
<h4> Ingredients:<%= @recipe.ingredients %> </h4> 
<h4> Description:<%= @recipe.description %> </h4> 


<%= link_to "All Recipes", recipes_path%>  


